/* Font */
.font-opensans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.font-anton {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* background-color */
.bg-primary {
  background-color: #1e1e1e;
}

.black {
  background-color: #282828cc;
}

/* text-color */
.white2 {
  color: #ffffff;
}

.secondary2 {
  color: #e3e3df;
}

.primary1 {
  color: #bf9d63;
}

.tertiary1 {
  color: #7c6853;
}

/* border-color */
.border-primary {
  border-color: #ffffff;
}

/* Typo */
.heading-lg /*Head title - Index*/ {
  font-family: var(--font-anton);
  font-size: 45px;
  text-transform: uppercase;
}

.header-md /*Subsection*/ {
  font-family: var(--font-anton);
  font-size: 20px;
  text-transform: uppercase;
}

.header-sm /*Head title - Banner*/ {
  font-family: var(--font-anton);
  font-size: 15px;
}

.body-lg /*Subtitle*/ {
  font-family: var(--font-oswald);
  font-size: 10px;
  font-weight: 400;
}

.body-md /*Text*/ {
  font-family: var(--font-oswald);
  font-size: 9px;
  font-weight: 300;
}

.logo {
  font-family: var(--font-opensans);
  font-size: 10px;
}

.cta {
  font-family: var(--font-oswald);
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
