/* page default styles */
.page{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body{
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #000;
}

/* Background Color */
.bg-black {
  background-color: #000;
}

.bg-white {
  background-color: #fff;
}


/* Text Color */

.text-black {
  color: #000;
}

.text-white {
  color: #fff;
}

/* Font Size */
body {
  font-size: 16px;
}

button {
  font-size: 28px;
}

/* Flex */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

/* Justify Content */

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

/* Align Items */

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-baseline {
  align-items: baseline;
}

.align-stretch {
  align-items: stretch;
}

/* Align Content */

.align-content-center {
  align-content: center;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-between {
  align-content: space-between;
}

.align-content-around {
  align-content: space-around;
}

.align-content-stretch {
  align-content: stretch;
}

/* Align Self */

.align-self-center {
  align-self: center;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-baseline {
  align-self: baseline;
}

.align-self-stretch {
  align-self: stretch;
}

/* Flex Wrap */

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

/* Flex Grow */

.flex-grow-0 {
  flex-grow: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

/* Flex Shrink */

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-shrink-1 {
  flex-shrink: 1;
}

/* Flex Basis */

.flex-basis-auto {
  flex-basis: auto;
}

.flex-basis-0 {
  flex-basis: 0;
}


/* Flex Gap */
.flex-gap-0 {
  gap: 0;
}

.flex-gap-1 {
  gap: 0.25rem;
}

.flex-gap-2 {
  gap: 0.5rem;
}

.flex-gap-3 {
  gap: 0.75rem;
}

.flex-gap-4 {
  gap: 1rem;
}

.flex-gap-5 {
  gap: 1.25rem;
}

.flex-gap-6 {
  gap: 1.5rem;
}

.flex-gap-7 {
  gap: 2rem;
}
