@import "tailwindcss";

/* Color */
@theme {
  --color-primary-1: #bf9d63;
  --color-primary-2: #e5c17a;
  --color-primary-3: #bfa763;
  --color-secondary-1: #9a938a;
  --color-secondary-2: #e3e3df;
  --color-tertiary-1: #9a938a;
  --color-tertiary-2: #4e3e3d;
  --color-tertiary-3: #37261c;
  --color-accent-1: #7f1b15;
  --color-accent-2: #6e1722;
  --color-white-1: #f1e9da;
  --color-black: #141414;
}

/* Fonts */

@theme {
  --font-body: "Oswald";
  --font-sans: "Anton", "Aggravo";
}

@font-face {
  font-family: "Anton";
  src: url("/fonts/Anton/Anton-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald/static/Oswald-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald/static/Oswald-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald/static/Oswald-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald/static/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald/static/Oswald-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald/static/Oswald-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Aggravo";
  src: url("/fonts/Aggravo/Aggravo_L.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Aggravo";
  src: url("/fonts/Aggravo/Aggravo_M.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Aggravo";
  src: url("/fonts/Aggravo/Aggravo_B.ttf") format("truetype");
  font-weight: 700;
}


/* Animations */

@layer theme {
  @keyframes scroll-up {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }

  @keyframes scroll-down {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
}